{
    "swagger": "2.0",
    "info": {
        "description": "This is a sample server celler server.",
        "title": "API Documentation System Management",
        "termsOfService": "https://github.com/ducvubo",
        "contact": {
            "name": "Vũ Đức Bo",
            "url": "https://github.com/ducvubo",
            "email": "vminhduc8@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "host": "system.management.pg.taphoaictu.id.vn.l",
    "basePath": "/api/v1",
    "paths": {
        "/equipment-maintenance": {
            "get": {
                "description": "GetAllEquipmentMaintenance",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Equipment Maintenance"
                ],
                "summary": "GetAllEquipmentMaintenance",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "pageIndex",
                        "name": "pageIndex",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "pageSize",
                        "name": "pageSize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "EqpMtnName",
                        "name": "EqpMtnName",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            },
            "post": {
                "description": "CreateEquipmentMaintenance",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Equipment Maintenance"
                ],
                "summary": "CreateEquipmentMaintenance",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.CreateEquipmentMaintenanceDto"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            },
            "patch": {
                "description": "UpdateEquipmentMaintenance",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Equipment Maintenance"
                ],
                "summary": "UpdateEquipmentMaintenance",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.UpdateEquipmentMaintenanceDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/equipment-maintenance/recycle": {
            "get": {
                "description": "GetAllEquipmentMaintenanceRecycle",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Equipment Maintenance"
                ],
                "summary": "GetAllEquipmentMaintenanceRecycle",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "pageIndex",
                        "name": "pageIndex",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "pageSize",
                        "name": "pageSize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "EqpMtnName",
                        "name": "EqpMtnName",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/equipment-maintenance/restore/{id}": {
            "patch": {
                "description": "RestoreEquipmentMaintenance",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Equipment Maintenance"
                ],
                "summary": "RestoreEquipmentMaintenance",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/equipment-maintenance/update-status": {
            "patch": {
                "description": "UpdateEquipmentMaintenanceStatus",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Equipment Maintenance"
                ],
                "summary": "UpdateEquipmentMaintenanceStatus",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.UpdateEquipmentMaintenanceStatusDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/equipment-maintenance/{id}": {
            "get": {
                "description": "FindEquipmentMaintenance",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Equipment Maintenance"
                ],
                "summary": "FindEquipmentMaintenance",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            },
            "delete": {
                "description": "DeleteEquipmentMaintenance",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Equipment Maintenance"
                ],
                "summary": "DeleteEquipmentMaintenance",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/internal-note": {
            "get": {
                "description": "GetAllInternalNote",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Internal Note"
                ],
                "summary": "GetAllInternalNote",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "pageIndex",
                        "name": "pageIndex",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "pageSize",
                        "name": "pageSize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "ItnNoteTitle",
                        "name": "ItnNoteTitle",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            },
            "post": {
                "description": "CreateInternalNote",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Internal Note"
                ],
                "summary": "CreateInternalNote",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.CreateInternalNoteDto"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            },
            "patch": {
                "description": "UpdateInternalNote",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Internal Note"
                ],
                "summary": "UpdateInternalNote",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.UpdateInternalNoteDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/internal-note/recycle": {
            "get": {
                "description": "GetAllInternalNoteRecycle",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Internal Note"
                ],
                "summary": "GetAllInternalNoteRecycle",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "pageIndex",
                        "name": "pageIndex",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "pageSize",
                        "name": "pageSize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "ItnNoteTitle",
                        "name": "ItnNoteTitle",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/internal-note/restore/{id}": {
            "patch": {
                "description": "RestoreInternalNote",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Internal Note"
                ],
                "summary": "RestoreInternalNote",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/internal-note/{id}": {
            "get": {
                "description": "FindInternalNote",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Internal Note"
                ],
                "summary": "FindInternalNote",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            },
            "delete": {
                "description": "DeleteInternalNote",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Internal Note"
                ],
                "summary": "DeleteInternalNote",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/internal-proposal": {
            "get": {
                "description": "GetAllInternalProposal",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Internal Proposal"
                ],
                "summary": "GetAllInternalProposal",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "pageIndex",
                        "name": "pageIndex",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "pageSize",
                        "name": "pageSize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "ItnProposalTitle",
                        "name": "ItnProposalTitle",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            },
            "post": {
                "description": "CreateInternalProposal",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Internal Proposal"
                ],
                "summary": "CreateInternalProposal",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.CreateInternalProposalDto"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            },
            "patch": {
                "description": "UpdateInternalProposal",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Internal Proposal"
                ],
                "summary": "UpdateInternalProposal",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.UpdateInternalProposalDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/internal-proposal/recycle": {
            "get": {
                "description": "GetAllInternalProposalRecycle",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Internal Proposal"
                ],
                "summary": "GetAllInternalProposalRecycle",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "pageIndex",
                        "name": "pageIndex",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "pageSize",
                        "name": "pageSize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "ItnProposalTitle",
                        "name": "ItnProposalTitle",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/internal-proposal/restore/{id}": {
            "patch": {
                "description": "RestoreInternalProposal",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Internal Proposal"
                ],
                "summary": "RestoreInternalProposal",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/internal-proposal/update-status": {
            "patch": {
                "description": "UpdateInternalProposalStatus",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Internal Proposal"
                ],
                "summary": "UpdateInternalProposalStatus",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.UpdateInternalProposalStatusDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/internal-proposal/{id}": {
            "get": {
                "description": "FindInternalProposal",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Internal Proposal"
                ],
                "summary": "FindInternalProposal",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            },
            "delete": {
                "description": "DeleteInternalProposal",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Internal Proposal"
                ],
                "summary": "DeleteInternalProposal",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/operation-manual": {
            "get": {
                "description": "GetAllOperationManual",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Operation Manual"
                ],
                "summary": "GetAllOperationManual",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "pageIndex",
                        "name": "pageIndex",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "pageSize",
                        "name": "pageSize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "OperaManualTitle",
                        "name": "OperaManualTitle",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            },
            "post": {
                "description": "CreateOperationManual",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Operation Manual"
                ],
                "summary": "CreateOperationManual",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.CreateOperationManualDto"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            },
            "patch": {
                "description": "UpdateOperationManual",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Operation Manual"
                ],
                "summary": "UpdateOperationManual",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.UpdateOperationManualDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/operation-manual/recycle": {
            "get": {
                "description": "GetAllOperationManualRecycle",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Operation Manual"
                ],
                "summary": "GetAllOperationManualRecycle",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "pageIndex",
                        "name": "pageIndex",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "pageSize",
                        "name": "pageSize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "OperaManualTitle",
                        "name": "OperaManualTitle",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/operation-manual/restore/{id}": {
            "patch": {
                "description": "RestoreOperationManual",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Operation Manual"
                ],
                "summary": "RestoreOperationManual",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/operation-manual/update-status": {
            "patch": {
                "description": "UpdateOperationManualStatus",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Operation Manual"
                ],
                "summary": "UpdateOperationManualStatus",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.UpdateOperationManualStatusDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/operation-manual/{id}": {
            "get": {
                "description": "FindOperationManual",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Operation Manual"
                ],
                "summary": "FindOperationManual",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            },
            "delete": {
                "description": "DeleteOperationManual",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Operation Manual"
                ],
                "summary": "DeleteOperationManual",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/operational-costs": {
            "get": {
                "description": "GetAllOperationalCosts",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Operational Costs"
                ],
                "summary": "GetAllOperationalCosts",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "pageIndex",
                        "name": "pageIndex",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "pageSize",
                        "name": "pageSize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "OperaCostType",
                        "name": "OperaCostType",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            },
            "post": {
                "description": "CreateOperationalCosts",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Operational Costs"
                ],
                "summary": "CreateOperationalCosts",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.CreateOperationalCostsDto"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            },
            "patch": {
                "description": "UpdateOperationalCosts",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Operational Costs"
                ],
                "summary": "UpdateOperationalCosts",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.UpdateOperationalCostsDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/operational-costs/recycle": {
            "get": {
                "description": "GetAllOperationalCostsRecycle",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Operational Costs"
                ],
                "summary": "GetAllOperationalCostsRecycle",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "pageIndex",
                        "name": "pageIndex",
                        "in": "query"
                    },
                    {
                        "type": "integer",
                        "description": "pageSize",
                        "name": "pageSize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "OperaCostType",
                        "name": "OperaCostType",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/operational-costs/restore/{id}": {
            "patch": {
                "description": "RestoreOperationalCosts",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Operational Costs"
                ],
                "summary": "RestoreOperationalCosts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/operational-costs/update-status": {
            "patch": {
                "description": "UpdateOperationalCostsStatus",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Operational Costs"
                ],
                "summary": "UpdateOperationalCostsStatus",
                "parameters": [
                    {
                        "description": "payload",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/model.UpdateOperationalCostsStatusDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        },
        "/operational-costs/{id}": {
            "get": {
                "description": "FindOperationalCosts",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Operational Costs"
                ],
                "summary": "FindOperationalCosts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            },
            "delete": {
                "description": "DeleteOperationalCosts",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Operational Costs"
                ],
                "summary": "DeleteOperationalCosts",
                "parameters": [
                    {
                        "type": "string",
                        "description": "id",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/response.ResponseData"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "model.CreateEquipmentMaintenanceDto": {
            "type": "object",
            "required": [
                "eqp_mtn_date_reported",
                "eqp_mtn_name"
            ],
            "properties": {
                "eqp_mtn_cost": {
                    "type": "integer"
                },
                "eqp_mtn_date_fixed": {
                    "type": "string"
                },
                "eqp_mtn_date_reported": {
                    "type": "string"
                },
                "eqp_mtn_issue_description": {
                    "type": "string"
                },
                "eqp_mtn_location": {
                    "type": "string"
                },
                "eqp_mtn_name": {
                    "type": "string"
                },
                "eqp_mtn_note": {
                    "type": "string"
                },
                "eqp_mtn_performed_by": {
                    "type": "string"
                },
                "eqp_mtn_reported_by": {
                    "type": "string"
                }
            }
        },
        "model.CreateInternalNoteDto": {
            "type": "object",
            "required": [
                "itn_note_content",
                "itn_note_title",
                "itn_note_type"
            ],
            "properties": {
                "itn_note_content": {
                    "type": "string"
                },
                "itn_note_title": {
                    "type": "string"
                },
                "itn_note_type": {
                    "type": "string"
                }
            }
        },
        "model.CreateInternalProposalDto": {
            "type": "object",
            "required": [
                "itn_proposal_content",
                "itn_proposal_title",
                "itn_proposal_type"
            ],
            "properties": {
                "itn_proposal_content": {
                    "type": "string"
                },
                "itn_proposal_title": {
                    "type": "string"
                },
                "itn_proposal_type": {
                    "type": "string"
                }
            }
        },
        "model.CreateOperationManualDto": {
            "type": "object",
            "required": [
                "opera_manual_content",
                "opera_manual_title",
                "opera_manual_type"
            ],
            "properties": {
                "opera_manual_content": {
                    "type": "string"
                },
                "opera_manual_note": {
                    "type": "string"
                },
                "opera_manual_title": {
                    "type": "string"
                },
                "opera_manual_type": {
                    "type": "string"
                }
            }
        },
        "model.CreateOperationalCostsDto": {
            "type": "object",
            "required": [
                "opera_cost_amount",
                "opera_cost_date",
                "opera_cost_description",
                "opera_cost_type"
            ],
            "properties": {
                "opera_cost_amount": {
                    "type": "integer"
                },
                "opera_cost_date": {
                    "type": "string"
                },
                "opera_cost_description": {
                    "type": "string"
                },
                "opera_cost_type": {
                    "type": "string"
                }
            }
        },
        "model.UpdateEquipmentMaintenanceDto": {
            "type": "object",
            "required": [
                "eqp_mtn_date_reported",
                "eqp_mtn_id",
                "eqp_mtn_name"
            ],
            "properties": {
                "eqp_mtn_cost": {
                    "type": "integer"
                },
                "eqp_mtn_date_fixed": {
                    "type": "string"
                },
                "eqp_mtn_date_reported": {
                    "type": "string"
                },
                "eqp_mtn_id": {
                    "type": "string"
                },
                "eqp_mtn_issue_description": {
                    "type": "string"
                },
                "eqp_mtn_location": {
                    "type": "string"
                },
                "eqp_mtn_name": {
                    "type": "string"
                },
                "eqp_mtn_note": {
                    "type": "string"
                },
                "eqp_mtn_performed_by": {
                    "type": "string"
                },
                "eqp_mtn_reported_by": {
                    "type": "string"
                }
            }
        },
        "model.UpdateEquipmentMaintenanceStatusDto": {
            "type": "object",
            "required": [
                "eqp_mtn_id",
                "eqp_mtn_status"
            ],
            "properties": {
                "eqp_mtn_id": {
                    "type": "string"
                },
                "eqp_mtn_status": {
                    "description": "ENUM: pending, in_progress, done, rejected",
                    "type": "string"
                }
            }
        },
        "model.UpdateInternalNoteDto": {
            "type": "object",
            "required": [
                "itn_note_content",
                "itn_note_id",
                "itn_note_title",
                "itn_note_type"
            ],
            "properties": {
                "itn_note_content": {
                    "type": "string"
                },
                "itn_note_id": {
                    "type": "string"
                },
                "itn_note_title": {
                    "type": "string"
                },
                "itn_note_type": {
                    "type": "string"
                }
            }
        },
        "model.UpdateInternalProposalDto": {
            "type": "object",
            "required": [
                "itn_proposal_content",
                "itn_proposal_id",
                "itn_proposal_title",
                "itn_proposal_type"
            ],
            "properties": {
                "itn_proposal_content": {
                    "type": "string"
                },
                "itn_proposal_id": {
                    "type": "string"
                },
                "itn_proposal_title": {
                    "type": "string"
                },
                "itn_proposal_type": {
                    "type": "string"
                }
            }
        },
        "model.UpdateInternalProposalStatusDto": {
            "type": "object",
            "required": [
                "itn_proposal_id",
                "itn_proposal_status"
            ],
            "properties": {
                "itn_proposal_id": {
                    "type": "string"
                },
                "itn_proposal_status": {
                    "type": "string"
                }
            }
        },
        "model.UpdateOperationManualDto": {
            "type": "object",
            "required": [
                "opera_manual_content",
                "opera_manual_id",
                "opera_manual_note",
                "opera_manual_title",
                "opera_manual_type"
            ],
            "properties": {
                "opera_manual_content": {
                    "type": "string"
                },
                "opera_manual_id": {
                    "type": "string"
                },
                "opera_manual_note": {
                    "type": "string"
                },
                "opera_manual_title": {
                    "type": "string"
                },
                "opera_manual_type": {
                    "type": "string"
                }
            }
        },
        "model.UpdateOperationManualStatusDto": {
            "type": "object",
            "required": [
                "opera_manual_id",
                "opera_manual_status"
            ],
            "properties": {
                "opera_manual_id": {
                    "type": "string"
                },
                "opera_manual_status": {
                    "type": "string"
                }
            }
        },
        "model.UpdateOperationalCostsDto": {
            "type": "object",
            "required": [
                "opera_cost_amount",
                "opera_cost_date",
                "opera_cost_description",
                "opera_cost_id",
                "opera_cost_type"
            ],
            "properties": {
                "opera_cost_amount": {
                    "type": "integer"
                },
                "opera_cost_date": {
                    "type": "string"
                },
                "opera_cost_description": {
                    "type": "string"
                },
                "opera_cost_id": {
                    "type": "string"
                },
                "opera_cost_type": {
                    "type": "string"
                }
            }
        },
        "model.UpdateOperationalCostsStatusDto": {
            "type": "object",
            "required": [
                "opera_cost_id",
                "opera_cost_status"
            ],
            "properties": {
                "opera_cost_id": {
                    "type": "string"
                },
                "opera_cost_status": {
                    "description": "ENUM: pending, in_progress, done, rejected",
                    "type": "string"
                }
            }
        },
        "response.ResponseData": {
            "type": "object",
            "properties": {
                "code": {
                    "description": "status code",
                    "type": "integer"
                },
                "data": {
                    "description": "dữ liệu trả về"
                },
                "error": {
                    "description": "dữ liệu lỗi"
                },
                "message": {
                    "description": "thông báo lỗi"
                },
                "statusCode": {
                    "description": "HTTP status code",
                    "type": "integer"
                }
            }
        }
    },
    "securityDefinitions": {
        "AccessTokenAuth": {
            "type": "apiKey",
            "name": "x-at-tk",
            "in": "header"
        },
        "ClientIDAuth": {
            "type": "apiKey",
            "name": "id_user_guest",
            "in": "header"
        },
        "RefreshTokenAuth": {
            "type": "apiKey",
            "name": "x-rf-tk",
            "in": "header"
        }
    },
    "security": [
        {
            "ClientIDAuth": []
        },
        {
            "AccessTokenAuth": []
        },
        {
            "RefreshTokenAuth": []
        }
    ]
}